@model List<Product>

@{
    ViewData["Title"] = "Edit";
}

<section class="hero-slider">
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Create</a>
            <div class="col-12">
                <table class="table">
                    <thead>

                        <tr>
                            <th scope="row">Image</th>
                            <th scope="row">Title</th>
                            <th scope="row">Price</th>
                            <th scope="row">oldPrice</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="~/upload/product/@item.Image" width="100" height="80"></td>
                                <td>@item.Title</td>
                                <td>@item.Price</td>
                                <td>@item.oldPrice</td>

                                <td>
                                    <a type="button" class="btn btn-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a type="button" class="btn btn-danger sweet-delete" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>